{"swagger":"2.0","info":{"version":"v1","title":"SelectLine.Erp.WebApi.WebHost","contact":{"name":"Imprint","url":"https://www.selectline.de/impressum/"},"license":{"name":"Privacy","url":"https://www.selectline.de/datenschutz/"}},"host":"demo.slmobile.de","basePath":"/demoApi","schemes":["https"],"paths":{"/AccessoryArticles/{accessoryArticleNumber}/Articles":{"get":{"tags":["AccessoryArticle"],"summary":"Liest eine Liste an Hauptartikeln, bei denen der Artikel als Zubehör enthalten ist.","operationId":"AccessoryArticle_ReadArticlesWhereArticleIsAccessoryArticle","consumes":[],"produces":["application/json"],"parameters":[{"name":"accessoryArticleNumber","in":"path","description":"Die Artikelnummer des Zubehörs.","required":true,"type":"string"},{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Login":{"post":{"tags":["Account"],"summary":"Anmelden bei der API.","operationId":"Account_Login","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Username und Passwort sind erforderlich","required":true,"schema":{"$ref":"#/definitions/SelectLine.Erp.AdministrationModule.Models.Credentials"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Erp.AdministrationModule.Models.AccessTokenModel"}},"400":{"description":"BadRequest"},"402":{"description":"Es ist keine freie Lizenz verfügbar."},"403":{"description":"Forbidden"},"409":{"description":"Conflict"},"503":{"description":"Der SelectLine Server ist nicht erreichbar."}},"security":[]}},"/Logout":{"post":{"tags":["Account"],"summary":"Abmelden bei der API. Die LoginId wird dadurch ungültig.","operationId":"Account_Logout","consumes":[],"produces":[],"responses":{"204":{"description":"NoContent"},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Accounting/Accounts":{"get":{"tags":["Accounting"],"summary":"Holt Kontoinformationen aller Konten. Die allgemeine Filterung der Daten erfolgt via OData. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"AccountingAccount_GetAccounts","consumes":[],"produces":["application/json"],"parameters":[{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.ReadAccountDto]]"}},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Konto\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active year first."},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}},"post":{"tags":["Accounting"],"summary":"Legt ein Konto an. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"AccountingAccount_CreateAccounts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.CreateAccountDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.AccountCreatedDto"}},"400":{"description":"<ul>\r\n  <li>Es ist ein Fehler aufgetreten.</li>\r\n  <li>AccountValuesInvalid - Die Angegebenen Werte sind ungültig.</li>\r\n  <li>AssignmentProfitAndLossAndTypeCreditorOrDebtorInvalid - Bei der Zuordnung zur GuV darf der Typ nicht \"Debitor\" oder \"Kreditor\" sein.</li>\r\n  <li>AssignmentBalanceAndTypeCreditorOrDebtorInvalid - Bei der Zuordnung zur Bilanz darf der Typ nicht \"Debitor\" oder \"Kreditor\" sein.</li>\r\n  <li>AssignmentNoneOnlyValidWithTypeCreditorOrDebtor - Bei der Zuordnung \"Keine\" darf der Typ ausschließlich \"Debitor\" oder \"Kreditor\" sein.</li>\r\n  <li>OssDataInvalid - Die Umsatzart darf bei der Nicht-EU-Regelung gemäß §18i UStG und beim Import gemäß 18k UStG nicht angegeben werden.</li>\r\n  <li>Oss18jDataInvalid - Die Umsatzart muss bei Verwendung der EU-Regelung gemäß §18j UStG angegeben werden.</li>\r\n  <li>AssignmentWithoutBalanceAndAssetAccountInvalid - Die Aktivierung als \"Anlagekonto\" darf nur bei einem Bilanzkonto aktiviert werden.</li>\r\n  <li>TypeFinanceAccountAndCashDeskAccountInvalid - Nur Konten mit dem Typ \"Finanzkonto\" dürfen für den BMD-Export als Kassenkonto gekennzeichnet werden.</li>\r\n  <li>CurrencyAndForeignCurrencyMismatch - Nur bei aktivierter Option \"Fremdwährung\" darf eine Währung angegeben werden.</li>\r\n  <li>RecapitulativeStatementAndTriangularTradeOrMiscellaneousServicesMismatch - Nur bei aktivierter Option \"ZM\" darf die Deklarierung als \"Dreiecksgeschäfte\" oder \"sonstige Leistung\" erfolgen.</li>\r\n  <li>TypeFinanceAccountAndSalaryAccountInvalid - Nur Konten, die nicht vom Typ \"Finanzkonto\" sind, dürfen als \"Lohnkonto\"  für den BMD-Export gekennzeichnet werden.</li>\r\n  <li>FiscalYearChangeWithoutAssignmentBalanceInvalid - Nur bei Konten mit Zuordnung zur \"Bilanz\" darf die Option \"Jahreswechsel ohne Saldo\" aktiviert werden.</li>\r\n  <li>TypeTaxExemptAndTaxCodeInvalid - Bei Konten mit der Zuordnung \"steuerfrei\" darf kein Steuerschlüssel hinterlegt werden.</li>\r\n  <li>AssignmentBalanceAndCostAccountingInvalid - Bei Konten mit der Zuordnung zur Bilanz, dürfen keine Kosteninformationen angegeben werden.</li>\r\n</ul>"},"409":{"description":"Die Kontonummer existiert bereits."},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>AccountAccessLevelRestricted</li>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Anlegen\" für die Daten \"Konto\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active year first."}}}},"/Accounting/Accounts/{account}":{"get":{"tags":["Accounting"],"summary":"Holt Kontoinformationen eines Kontos. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"AccountingAccount_GetAccountsByAccount","consumes":[],"produces":["application/json"],"parameters":[{"name":"account","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.ReadAccountDto"}},"404":{"description":"Es wurde kein Eintrag gefunden."},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Konto\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active year first."}}}},"/Accounting/Tenants":{"get":{"tags":["Accounting"],"summary":"Fragt allgemeine Informationen über diesen Mandanten und seine Jahre ab. Die allgemeine Filterung der Daten erfolgt via OData.","operationId":"AccountingTenant_GetTenants","consumes":[],"produces":["application/json"],"parameters":[{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.AccountingTenantDto]]"}},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"Es wird Finance Premium benötigt."},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Accounting/Tenants/{databaseName}":{"get":{"tags":["Accounting"],"summary":"Fragt allgemeine Informationen über diesen Mandanten und seine Jahre ab.","operationId":"AccountingTenant_GetTenantsByDatabaseName","consumes":[],"produces":["application/json"],"parameters":[{"name":"databaseName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.AccountingTenantDto"}},"403":{"description":"<ul>\r\n  <li>Keine Berechtigung für diesen Mandanten vorhanden.</li>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n</ul>"},"401":{"description":"Anmeldung erforderlich"},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/Total":{"get":{"tags":["Analysis"],"summary":"Liefert die Gesamtauswertungen.","operationId":"Analysis_ReadTotalAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/Articles/{articleNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für einen bestimmten Artikel.","operationId":"Analysis_ReadArticleAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/Customers/{customerNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für einen bestimmten Kunden.","operationId":"Analysis_ReadCustomerAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"customerNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/Suppliers/{supplierNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für einen bstimmten Lieferanten.","operationId":"Analysis_ReadSupplierAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"supplierNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/Employees/{employeeNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für einen bestimmten Mitarbeiter.","operationId":"Analysis_ReadEmployeeAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"employeeNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/ArticleGroups/{articleGroupNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Artikelgruppe.","operationId":"Analysis_ReadArticleGroupAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleGroupNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/CustomerGroups/{customerGroupNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Kundengruppe.","operationId":"Analysis_ReadCustomerGroupAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"customerGroupNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/SupplierGroups/{supplierGroupNumber}":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Lieferantengruppe.","operationId":"Analysis_ReadSupplierGroupAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"supplierGroupNumber","in":"path","required":true,"type":"string"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValue"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/TopArticles":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Anzahl an Top - Artikel. \r\nWird die Anzahl nicht übergeben, werden standardmäßig die Top 3 - Artikel geliefert.","operationId":"Analysis_ReadTopArticlesAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"topCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValueGroup"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/TopCustomers":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Anzahl an Top - Kunden.\r\nWird die Anzahl nicht übergeben, werden standardmäßig die Top 3 - Kunden geliefert.","operationId":"Analysis_ReadTopCustomersAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"topCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValueGroup"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/TopSuppliers":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Anzahl an Top - Lieferanten.\r\nWird die Anzahl nicht übergeben, werden standardmäßig die Top 3 - Lieferanten geliefert.","operationId":"Analysis_ReadTopSuppliersAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"topCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValueGroup"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Analysis/TopEmployees":{"get":{"tags":["Analysis"],"summary":"Liefert die Auswertungen für eine bestimmte Anzahl an Top - Mitarbeiter.\r\nWird die Anzahl nicht übergeben, werden standardmäßig die Top 3 - Mitarbeiter geliefert.","operationId":"Analysis_ReadTopEmployeesAnalysis","consumes":[],"produces":["application/json"],"parameters":[{"name":"topCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"analysisParameter.dataSource","in":"query","description":"Gibt an welcher Wert zur Auswertung übermittelt werden soll","required":false,"type":"string","enum":["None","Sales","Profit","Quantity"]},{"name":"analysisParameter.granularity","in":"query","description":"Bestimmt in welchem Intervall die Auswertungen ausgegeben wird","required":false,"type":"string","enum":["None","Year","Quarter","Month","Week","Day"]},{"name":"analysisParameter.startDate","in":"query","description":"Startdatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"},{"name":"analysisParameter.endDate","in":"query","description":"Enddatum des Zeitraumes für den die Auswertung erfolgen soll","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.AnalysisModule.Models.AnalysisValueGroup"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles":{"get":{"tags":["Article"],"summary":"Liest eine Liste von Artikeln.","operationId":"Article_ReadArticles","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}":{"get":{"tags":["Article"],"summary":"Liest einen Artikel.","operationId":"Article_ReadArticleByNumberAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Artikels","required":true,"type":"string"},{"name":"additionalFields","in":"query","description":"Gibt an, welche zusätzlichen Informationen abgerufen werden sollen. Standardmäßig werden keinen zusätzlichen Informationen abgerufen.","required":false,"type":"string","enum":["None","HasAccessory","HasSurcharge","ArticleDescriptions","All"]},{"name":"considerReferenceAndSerial","in":"query","description":"Prüfung der Eingabe ebenfalls als GTIN-, Referenz- oder Seriennummer","required":false,"type":"boolean"},{"name":"documentDetailAddressNumber","in":"query","description":"Parameter ist derzeit funktionslos","required":false,"type":"string"},{"name":"businessPartnerType","in":"query","description":"Parameter ist derzeit funktionslos","required":false,"type":"string","enum":["Customer","Supplier","Prospect"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/VariantArticles":{"get":{"tags":["Article"],"summary":"Liest eine Liste der Variantenartikel zu einem Artikel. Dieser Artikel kann auch ein Variantenartikel sein.","operationId":"Article_ReadVariantArticlesByNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Artikels.","required":true,"type":"string"},{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/AccessoryArticles":{"get":{"tags":["Article"],"summary":"Liest eine Liste an Zubehörartikeln zu einem Hauptartikel.","operationId":"Article_ReadAccessoryArticlesByNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Hauptartikels.","required":true,"type":"string"},{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/AccessoryDetails":{"get":{"tags":["Article"],"summary":"Liest die Liste der Details zu den Zubehörartikeln zu einem Hauptartikel.","operationId":"Article_ReadAccessoryArticleDetails","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Hauptartikels.","required":true,"type":"string"},{"name":"listFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"listFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"listFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"listFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.AccessoryArticleDetails"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/SetArticles":{"get":{"tags":["Article"],"summary":"Liest eine Liste der enthaltenen Artikel eines Stücklistenartikels.","operationId":"Article_ReadSetArticlesByNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Artikelnummer der Stückliste.","required":true,"type":"string"},{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/AlternativeArticles":{"get":{"tags":["Article"],"summary":"Liest eine Liste der Alternativartikel zu einem Artikel.","operationId":"Article_ReadAlternativeArticlesByNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Artikels.","required":true,"type":"string"},{"name":"articleListFilter.onlyFavorites","in":"query","description":"Zeigt nur Favoriten an.","required":false,"type":"boolean"},{"name":"articleListFilter.includeVariantArticles","in":"query","description":"Zeigt zusätzlich die Variantenartikel an","required":false,"type":"boolean"},{"name":"articleListFilter.onlyEffortArticles","in":"query","description":"Zeigt nur Leistungsartikel an.","required":false,"type":"boolean"},{"name":"articleListFilter.articleGroupNumber","in":"query","description":"Filtern nach Artikelgruppe","required":false,"type":"string"},{"name":"articleListFilter.includeArticleSubGroups","in":"query","description":"Zeigt Artikel aus Artikeluntergruppen an. Wird nur in Verbindung mit \"ArticleGroupNumber\" ausgewertet","required":false,"type":"boolean"},{"name":"articleListFilter.onlyStockedArticles","in":"query","description":"Zeigt nur Artikel an die einen Lagerbestand größer 0 haben","required":false,"type":"boolean"},{"name":"articleListFilter.includeInactiveArticles","in":"query","description":"Zeigt zusätzlich auch die inaktiven Artikel an","required":false,"type":"boolean"},{"name":"articleListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Article"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/SurchargeDetails":{"get":{"tags":["Article"],"summary":"Liest die Details aller Zuschlagsartikel zu einem Artikel aus.","operationId":"Article_ReadSurchargeDetailsByParentArticleNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Nummer des Artikels.","required":true,"type":"string"},{"name":"baseListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"baseListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"baseListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"baseListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"baseListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"baseListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.SurchargeArticle.SurchargeArticleDetails"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/Stock":{"get":{"tags":["Article"],"summary":"Gibt die Lagerbestände zu den Artikeln zurück.","operationId":"Article_ReadArticleStock","consumes":[],"produces":["application/json"],"parameters":[{"name":"listFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"listFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"listFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"listFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.Entities.WebApi.ArticleStock"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}},"deprecated":true}},"/Articles/{articleNumber}/QuantityUnits":{"get":{"tags":["Article"],"summary":"Gibt die Mengenumrechnungen zu dem Artikel zurück","operationId":"Article_ReadQuantityUnits","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Identifiziert den Artikel zu dem die Mengenumrechnungen abgefragt werden","required":true,"type":"string"},{"name":"includeSuppliers","in":"query","description":"Sucht auch in den Lieferantenmengenumrechnungen","required":false,"type":"boolean"},{"name":"listFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"listFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"listFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"listFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.Common.Models.ModuleModels.DocumentPositionQuantityUnit"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/QuantityUnits/{supplierNumber}":{"get":{"tags":["Article"],"summary":"Gibt die Mengenumrechnungen zu dem Artikel mit dem Lieferanten zurück","operationId":"Article_ReadQuantityUnitsBySupplierNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Identifiziert den Artikel zu dem die Mengenumrechnungen abgefragt werden","required":true,"type":"string"},{"name":"supplierNumber","in":"path","description":"Identifiziert den Lieferanten des Artikels zu dem die Mengenumrechnungen abgefragt werden","required":true,"type":"string"},{"name":"listFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"listFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"listFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"listFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.Common.Models.ModuleModels.DocumentPositionQuantityUnit"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Characteristics":{"get":{"tags":["Article"],"summary":"Gibt die Sachmerkmale zu einem Artikel zurück","operationId":"Article_ReadCharacteristics","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.ArticleCharacteristic"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Stocks":{"get":{"tags":["Article"],"summary":"Liest die Bestände eines Artikels","operationId":"Article_ReadStocksByArticleNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"","required":true,"type":"string"},{"name":"listFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"listFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"listFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"listFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"listFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.Entities.WebApi.Stock"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Images/{imagePositionNumber}/Content":{"get":{"tags":["Article"],"summary":"Liest das Artikelbild mit der angegebenen Artikelnummer und der Ordnung","operationId":"Article_ReadImageByArticleNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Artikelnummer","required":true,"type":"string"},{"name":"imagePositionNumber","in":"path","description":"Die Bildposition","required":true,"type":"integer","format":"int32"},{"name":"width","in":"query","description":"Die gewünschte Breite des Bildes. Wenn leer, wird die Originalbreite genommen","required":false,"type":"integer","format":"int32"},{"name":"height","in":"query","description":"Die gewünschte Höhe des Bildes. Wenn leer, wird die Originalhöhe genommen","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Images":{"get":{"tags":["Article"],"summary":"Liest alle Artikelbild-Metadaten mit der angegebenen Artikelnummer","operationId":"Article_ReadImagesMetaDataByArticleNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Artikelnummer","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.Entities.WebApi.ImageMetaData"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Images/{imagePositionNumber}":{"get":{"tags":["Article"],"summary":"Liest die Artikelbild-Metadaten mit der angegebenen Artikelnummer und der Ordnung","operationId":"Article_ReadImageMetaDataByArticleNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Artikelnummer","required":true,"type":"string"},{"name":"imagePositionNumber","in":"path","description":"Die Bildposition","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Erp.Entities.WebApi.ImageMetaData"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Journals":{"get":{"tags":["Article"],"summary":"Liest alle Journale, die einem Artikel zugeordnet sind.","operationId":"Article_ReadJournalsOfArticle","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","description":"Die Artikelnummer","required":true,"type":"string"},{"name":"articleJournalListFilter.journalId","in":"query","description":"Journal-ID","required":false,"type":"string","format":"uuid"},{"name":"articleJournalListFilter.contactKindId","in":"query","description":"Kontaktart-ID","required":false,"type":"integer","format":"int32"},{"name":"articleJournalListFilter.statusId","in":"query","description":"Status-ID","required":false,"type":"integer","format":"int32"},{"name":"articleJournalListFilter.categoryId","in":"query","description":"Kategorie-ID","required":false,"type":"integer","format":"int32"},{"name":"articleJournalListFilter.onlyMyEntries","in":"query","description":"Nur eigene Einträge zeigen","required":false,"type":"boolean"},{"name":"articleJournalListFilter.employeeNumber","in":"query","description":"Mitarbeiternummer","required":false,"type":"string"},{"name":"articleJournalListFilter.dueDate","in":"query","description":"Termin am","required":false,"type":"string","format":"date-time"},{"name":"articleJournalListFilter.assignedUser","in":"query","description":"Zuständiger Benutzer","required":false,"type":"string"},{"name":"articleJournalListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleJournalListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleJournalListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleJournalListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleJournalListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleJournalListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.JournalModule.Models.JournalModelRead"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Sales/Prices/{customerNumber}":{"get":{"tags":["Article"],"summary":"Ermittelt die Verkaufspreise für einen Artikel.","operationId":"Article_GetSalesPrices","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","required":true,"type":"string"},{"name":"customerNumber","in":"path","required":true,"type":"string"},{"name":"pricesFilter.date","in":"query","description":"Das Datum für den die Preise ermittelt werden sollen. Es wird das aktuelle Datum verwendet, wenn nicht angegeben.","required":false,"type":"string","format":"date-time"},{"name":"pricesFilter.netPrice","in":"query","description":"Ermittelt nur Nettopreise.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Price"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Articles/{articleNumber}/Purchasing/Prices/{supplierNumber}":{"get":{"tags":["Article"],"summary":"Ermittelt die Einkaufspreise für einen Artikel.","operationId":"Article_GetPurchasingPrices","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleNumber","in":"path","required":true,"type":"string"},{"name":"supplierNumber","in":"path","required":true,"type":"string"},{"name":"pricesFilter.date","in":"query","description":"Das Datum für den die Preise ermittelt werden sollen. Es wird das aktuelle Datum verwendet, wenn nicht angegeben.","required":false,"type":"string","format":"date-time"},{"name":"pricesFilter.netPrice","in":"query","description":"Ermittelt nur Nettopreise.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleModule.Models.Price"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/ArticleGroups":{"get":{"tags":["ArticleGroup"],"summary":"Liest eine Liste von Artikelgruppen.","operationId":"ArticleGroup_ReadArticleGroups","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleGroupListFilter.page","in":"query","description":"Seitennummer für das Paging |\r\nStandard: 0","required":false,"type":"integer","format":"int32"},{"name":"articleGroupListFilter.items","in":"query","description":"Bestimmt die Anzahl der Einträge pro Seite |\r\nStandard: 10 |\r\nAlle: 0","required":false,"type":"integer","format":"int32"},{"name":"articleGroupListFilter.searchTerm","in":"query","description":"Filter für Wörter","required":false,"type":"string"},{"name":"articleGroupListFilter.searchIn","in":"query","description":"Eigenschaften, in denen gesucht werden soll.\r\nTrenner zwischen diesen Eigenschaften ist \"|\".","required":false,"type":"string"},{"name":"articleGroupListFilter.orderBy","in":"query","description":"Eigenschaften nach denen sortiert werden soll. Ein Ausrufezeichen ! am Ende gibt die Abwärtssortierung an.\r\nUm nach mehreren Eigenschaften zu sortieren, müssen diese durch ein \"|\" getrennt werden.","required":false,"type":"string"},{"name":"articleGroupListFilter.filter","in":"query","description":"Es kann ein Filter definiert werden um die Ergebnismenge einzuschränken.\r\nZum Beispiel: (Property EQ Value OR Property2 GT Value2) AND (Property3 CT 'String')\r\nWeitere Informationen finden Sie unter der Beschreibung für die FilterQueryLanguage","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SelectLine.Erp.ArticleGroupModule.Models.ArticleGroup"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/ArticleGroups/{articleGroupNumber}":{"get":{"tags":["ArticleGroup"],"summary":"Liest eine Artikelgruppe.","operationId":"ArticleGroup_ReadArticleGroupsByNumber","consumes":[],"produces":["application/json"],"parameters":[{"name":"articleGroupNumber","in":"path","description":"Die Nummer des Artikels","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Erp.ArticleGroupModule.Models.ArticleGroup"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Accounting/Balances":{"get":{"tags":["Accounting"],"summary":"Gibt den Saldo aller Konten aus. Die allgemeine Filterung der Daten erfolgt via OData. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"Balance_GetBalances","consumes":[],"produces":["application/json"],"parameters":[{"name":"isDebCred","in":"query","required":false,"type":"boolean"},{"name":"isProfitLoss","in":"query","required":false,"type":"boolean"},{"name":"isBalance","in":"query","required":false,"type":"boolean"},{"name":"isBalanceOfTrade","in":"query","required":false,"type":"boolean"},{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.BalanceDto]]"}},"403":{"description":"<ul>\r\n  <li>Das Konto kann aufgrund der zugeteilten Zugriffsebenen nicht angezeigt werden.</li>\r\n  <li>AccountAccessLevelRestricted - Die Zugriffsebene des Benutzers ist nicht ausreichend.</li>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Konto\" benötigt.</li>\r\n</ul>"},"404":{"description":"Für das Konto sind keine Salden vorhanden."},"401":{"description":"Anmeldung erforderlich"},"424":{"description":"To access this route you have to select an active year first."}}}},"/Accounting/Balances/{account}":{"get":{"tags":["Accounting"],"summary":"Holt die Salden eines spezifischen Kontos. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"Balance_GetBalancesByAccount","consumes":[],"produces":["application/json"],"parameters":[{"name":"account","in":"path","required":true,"type":"string"},{"name":"isBalanceOfTrade","in":"query","required":false,"type":"boolean"},{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.BalanceDto]]"}},"404":{"description":"Für das Konto sind keine Salden vorhanden."},"403":{"description":"<ul>\r\n  <li>Das Konto kann aufgrund der zugeteilten Zugriffsebenen nicht angezeigt werden.</li>\r\n  <li>AccountAccessLevelRestricted - Die Zugriffsebene des Benutzers ist nicht ausreichend.</li>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Konto\" benötigt.</li>\r\n</ul>"},"401":{"description":"Anmeldung erforderlich"},"424":{"description":"To access this route you have to select an active year first."}}}},"/Accounting/BatchPostings":{"get":{"tags":["Accounting"],"summary":"Gibt alle Buchungsstapel aus. Die allgemeine Filterung der Daten erfolgt via OData. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"BatchPosting_GetBatchPostings","consumes":[],"produces":["application/json"],"parameters":[{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.BatchPostingDto]]"}},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}},"post":{"tags":["Accounting"],"summary":"Legt einen neuen Buchungsstapel an.","operationId":"BatchPosting_CreateBatchPostings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.CreateBatchPostingDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.BatchPostingCreatedDto"}},"400":{"description":"Es ist ein Fehler aufgetreten."},"409":{"description":"Die Stapelnummer existiert bereits."},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Anlegen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."}}}},"/Accounting/BatchPostings/{batchPostingId}":{"get":{"tags":["Accounting"],"summary":"Gibt den angegebenen Buchungsstapel aus. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"BatchPosting_GetBatchPostingsByBatchPostingId","consumes":[],"produces":["application/json"],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.BatchPostingDto"}},"404":{"description":"Der Buchungsstapel wurde nicht gefunden."},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."}}},"put":{"tags":["Accounting"],"summary":"Verändert die Eigenschaften eines Stapels. Die Eigenschaften des Stapels müssen im Body des Requests übertragen werden. Dabei sollten nur Eigenschaften übermittelt werden, die geändert werden sollen.","operationId":"BatchPosting_UpdateBatchPostingsByBatchPostingId","consumes":["application/json"],"produces":[],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.BatchPostingUpdateDto"}}],"responses":{"204":{"description":"NoContent","schema":{"$ref":"#/definitions/System.Void"}},"404":{"description":"Der Buchungsstapel wurde nicht gefunden."},"401":{"description":"Anmeldung erforderlich"},"400":{"description":"<ul>\r\n  <li>ProcessingTypeAndDateReplaceInvalid</li>\r\n  <li>ProcessingTypeAndPreprocessingInvalid</li>\r\n</ul>"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Bearbeiten\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."}}},"delete":{"tags":["Accounting"],"summary":"Löscht einen Stapel inklusive dazugehöriger Positionen.","operationId":"BatchPosting_DeleteBatchPostingsByBatchPostingId","consumes":[],"produces":[],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"NoContent","schema":{"$ref":"#/definitions/System.Void"}},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Entfernen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."},"404":{"description":"NotFound","schema":{"$ref":"#/definitions/SelectLine.Erp.WebApi.Models.ApiResponse.ApiResponse"}}}}},"/Accounting/BatchPostings/{batchPostingId}/Postings":{"get":{"tags":["Accounting"],"summary":"Es werden alle Buchungen eines Stapels bereitgestellt. Die allgemeine Filterung der Daten erfolgt via OData. Konkrete Syntaxen können etwaigen Beschreibungen entnommen werden. Sollte es zudem weitere Parameter geben, so sind diese unter den \"URI Parameters\" angefügt.","operationId":"BatchPosting_GetPostingsByBatchPostingId","consumes":[],"produces":["application/json"],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"count","in":"query","description":"Gibt im Objekt zusätzlich aus wie viele Datensätze gefunden wurden.","required":false,"type":"boolean"},{"name":"top","in":"query","description":"Begrenzt die Datenmenge auf die gegebene Anzahl.","required":false,"type":"integer","format":"int32","default":10},{"name":"skip","in":"query","description":"Überspringt die gegebene Anzahl Datensätze der Datenmenge.","required":false,"type":"integer","format":"int32"},{"name":"orderby","in":"query","description":"Gibt die, nach der angegebenen Spalte sortierten, Datenmenge zurück.","required":false,"type":"string"},{"name":"filter","in":"query","description":"Gibt die Datenmenge gefiltert nach dem angegebenen Ausdruck zurück.","required":false,"type":"string"},{"name":"select","in":"query","description":"Gibt nur die angegebene Spalten des Objekts zurück.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SelectLine.Server.Common.Dtos.OData.ODataValue[System.Collections.Generic.List[SelectLine.Server.DataTransfer.BatchPostingPostingsDto]]"}},"404":{"description":"Der Buchungsstapel wurde nicht gefunden."},"409":{"description":"Die Stapelbuchung kann nicht gelesen werden, da diese ungültige Werte enthält."},"401":{"description":"Anmeldung erforderlich"},"403":{"description":"<ul>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n  <li>Es wird das Recht \"Lesen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n</ul>"},"424":{"description":"To access this route you have to select an active tenant by calling PUT /api/SessionManagement/SessionInformation first."}}},"post":{"tags":["Accounting"],"summary":"Legt eine Buchung an","operationId":"BatchPosting_CreatePostingsByBatchPostingId","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.CreateBatchPostingPostingDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.BatchPostingPostingCreatedDto"}},"400":{"description":"<ul>\r\n  <li>Es ist ein Fehler aufgetreten.</li>\r\n  <li>PostingIsMissingDocument - Die Belegnummer (PostingDocument) fehlt.</li>\r\n  <li>PostingAmountSplitIncomplete - Sammelbeleg bei dem die Summe (amount) nicht aufgeht (insbesondere mit Fremdwährung (Currency)) - Die Summe (amount) des Sammelbeleges geht nicht auf. Dies kann insbesondere im Zusammenhang mit Fremdwährung (Currency) auftreten.</li>\r\n  <li>PostingDateOutOfRange - Das Datum (PostDate) liegt außerhalb des Wirtschaftsjahres (Sessioninformations).</li>\r\n  <li>PostingAccountFunctionNotPermitted - Konto darf nicht gebucht werden, da die Kontenfunktion EroeffnungDebitor, EroeffnungKreditor, SammelDebitor, SammelKreditor, AlternativSammelDebitor oder AlternativSammelKreditor ist.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Konto und Gegenkonto dürfen im Einfachbeleg nicht identisch sein.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Auf Soll- und Habenseite werden verschiedene Steuerarten (Umsatz-, Vor-, Erwerb-) verwendet.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Auf Soll- und Habenseite befinden sich Personenkonten.</li>\r\n  <li>PostingServiceDateOutOfRange - Das Leistungsdatum (ServiceDate) ist nicht im Wirtschaftsjahr, Vorjahr oder Folgejahr.</li>\r\n  <li>PostingIsMissingPositions - Die Buchung enthält keine Positionen.</li>\r\n  <li>PostingPeriodOutOfRange - Die Periode (Period) liegt außerhalb des Wirtschaftsjahres.</li>\r\n  <li>PostingAmountExceedsDecimalPlaces - Einer der Beträge (Amount, Cashdiscount, TaxValue, DiscountableAmount, Commission, CommissionAssesmentBasis) hat zu viele Nachkommastellen.</li>\r\n  <li>PostingDebtorCreditorMissing - Die Kunden-/Lieferantennummer fehlt.</li>\r\n  <li>PostingDebtorCreditorAccountMismatch - Die Kunden-/Lieferantennummer passt nicht zum (Personen-)Konto der Position.</li>\r\n  <li>PostingAccountLocked - Konto (Account) oder Gegenkonto (OffsetAccount) sind gesperrt durch \"Buchsperre ab\".</li>\r\n  <li>PostingAccountIndirect - Konto (Account) oder Gegenkonto (OffsetAccount) können nur indirekt gebucht werden.</li>\r\n  <li>PostingCostTypeMissing - Kostenart (CostType) muss gefüllt sein.</li>\r\n  <li>PostingCostAmountMismatch - Die Summe der Kosten (Costs.amount) ergibt nicht den (Netto-) Wert der Positionen.</li>\r\n  <li>PostingCostMissing - Bei aktivierter Kostenstellen-/träger Pflicht und bei Verwendung eines Kontos mit Kostenerfassung ist die Hinterlegung einer Kostenstelle oder -träger erforderlich.</li>\r\n  <li>PostingCostCentreAndCostUnitSupplied - Nur bei aktivierter Option \"Kostenstellen und Kostenträger erlauben\" dürfen Kostenstellen und -träger angegeben werden.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung ist für den Mandanten deaktiviert.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung darf nur für Personenkonten erfolgen, wenn die Option \"Kostenrechnung für Personenkonten erlauben\" aktiviert ist.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung ist für das Konto deaktiviert.</li>\r\n  <li>PostingOffsetAccountNotAllowed - Das Gegenkonto (OffsetAccount) darf im Sammelbeleg nicht angegeben werden.</li>\r\n  <li>PostingIsMissingOpenItem - Bei Verwendung eines Personenkontos müssen Angaben zum Offenen Posten (openitem) erfolgen.</li>\r\n  <li>PostingOpenItemMustBeNull - Die Angabe eines Offenen Posten (openitem) ohne ein Personenkonto ist nicht möglich.</li>\r\n  <li>PostingIsMissingAmount - Der Betrag (amount) ist 0.</li>\r\n  <li>PostingIsMissingOffsetAccount - Eine Einfachbeleg ohne Gegenkonto (OffsetAccount) kann nicht erfasst werden.</li>\r\n  <li>PostingIsMissingCurrencyFactor - Eine Buchung mit Fremdwährung ohne Fremdwährungskurs (currencyFactor) ist nicht möglich.</li>\r\n  <li>PostingCashDiscountDateInvalid - Das SkontoAm (CashDiscountDate1/2) liegt vor dem Valutadatum (valuedate) bei Skontoprozent &gt; 0.</li>\r\n  <li>PostingDiscountableAmountInvalid - Das Vorzeichen von Skontofähig (DiscountableAmount) und Betrag (amount) weichen voneinander ab.</li>\r\n  <li>PostingDiscountableAmountInvalid - Skontofähig (DiscountableAmount) ist größer als der Betrag (amount).</li>\r\n  <li>PostingCashDiscountPercentInvalid - Die Skontoprozente (CashDiscount1/2Percent) sind kleiner 0 oder größer 100.</li>\r\n  <li>PostingCashDiscountInvalid - Der Skonto-Wert ist negativ oder für die Kontenkombination unzulässig.</li>\r\n  <li>PostingTaxMissing - Im Konto ist SteuerCodeFixieren aktiviert und der Steuercode (TaxCode) weicht von dem Steuercode des Kontos ab.</li>\r\n  <li>PostingTaxInvalid - Die Angabe eines Steuercodes ist für die Buchung nicht zulässig.</li>\r\n  <li>PostingTaxWithoutTaxCode - Die Steuerprozente (taxPercent) oder der Steuerwert (taxAmount) ist angegeben aber Steuercode (taxCode) fehlt.</li>\r\n  <li>PostingTaxPercentMismatch - Die Steuerprozente (taxPercent) weichen vom den Prozenten im Steuercode (taxCode) ab und der Steuercode erlaubt keinen variablen Steuerprozentsatz.</li>\r\n  <li>PostingTaxAmountMismatch - Der aus den Steuerprozenten (taxPercent) bzw. Steuercode (taxCode) errechnete Steuerwert passt nicht zu dem angegebenen Steuerwert (taxAmount).</li>\r\n  <li>PostingHasUnknownTaxCode - Der Steuercode (taxCode) ist nicht in den Stammdaten vorhanden bzw. die Gültigkeitsdaten für das angegebene Datum (postDate) fehlen.</li>\r\n  <li>PostingUnknownAccount - Das Konto (account, offsetAccount) oder das im Steuercode (taxCode) hinterlegte Skontokonto existieren nicht.</li>\r\n  <li>PostingVatidMissing - Das Konto (account, offsetAccount) erfordert durch die Einstellung zur zusammenfassenden Meldung die Angabe der UstId (vatID).</li>\r\n  <li>PostingCurrencyMismatch - Im Konto (account, offsetAccount) ist eine Währung hinterlegt, die nicht zur Währung (currency) der Position passt.</li>\r\n  <li>DueDateBeforeValueDate - Das Zahlungsziel liegt vor dem Valutadatum.</li>\r\n  <li>TaxBalanceSheetInactive - Der Steuerbilanzbewertungskreis ist nicht aktiviert.</li>\r\n  <li>OssDataInvalid - Falls \"NoParticipation\" als (ossProcess) angegeben wird, darf auch keine (TaxRate) angegeben werden.</li>\r\n  <li>OssDataInvalid - Ein Wert in (OssTurnoverType) ist nur erlaubt falls (OssProcess) \"EURegulationPursuantTo18jUStG\" ist.</li>\r\n  <li>OssDataInvalid - Bei Teilnahme am OSS-Verfahren muss auch ein Steuersatz (ossTaxRate) angegeben werden.</li>\r\n  <li>TaxcodeMissingValidity - Für Steuercode (taxCode) und Buchungsdatum (postDate) wurde keine entsprechende Gültigkeit im Steuercode gefunden.</li>\r\n  <li>PostingPeriodInvalid - Das Format der Periode ist ungültig (YYYYMMT wobei T = *oder 0-9)</li>\r\n</ul>"},"404":{"description":"Der Buchungsstapel wurde nicht gefunden."},"403":{"description":"<ul>\r\n  <li>Es wird das Recht \"Anlegen\" für die Daten \"Buchungsstapel\" benötigt.</li>\r\n  <li>Das Konto kann aufgrund der zugeteilten Zugriffsebenen nicht angezeigt werden.</li>\r\n  <li>AccountAccessLevelRestricted - Die Zugriffsebene des Benutzers ist nicht ausreichend.</li>\r\n  <li>Es wird Finance Premium benötigt.</li>\r\n</ul>"},"401":{"description":"Anmeldung erforderlich"},"424":{"description":"To access this route you have to select an active year first."}}}},"/Accounting/BatchPostings/{batchPostingId}/Postings/{record}":{"put":{"tags":["Accounting"],"summary":"Verändert die Eigenschaften einer Stapelbuchung. Die Eigenschaften der Stapelbuchung müssen im Body des Requests übertragen werden.","operationId":"BatchPosting_UpdatePostingsByBatchPostingIdAndRecord","consumes":["application/json"],"produces":[],"parameters":[{"name":"batchPostingId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"record","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SelectLine.Server.DataTransfer.BatchPostingPostingUpdateDto"}}],"responses":{"204":{"description":"NoContent","schema":{"$ref":"#/definitions/System.Void"}},"400":{"description":"<ul>\r\n  <li>Es ist ein Fehler aufgetreten.</li>\r\n  <li>PostingIsMissingDocument - Die Belegnummer (PostingDocument) fehlt.</li>\r\n  <li>PostingAmountSplitIncomplete - Sammelbeleg bei dem die Summe (amount) nicht aufgeht (insbesondere mit Fremdwährung (Currency)) - Die Summe (amount) des Sammelbeleges geht nicht auf. Dies kann insbesondere im Zusammenhang mit Fremdwährung (Currency) auftreten.</li>\r\n  <li>PostingDateOutOfRange - Das Datum (PostDate) liegt außerhalb des Wirtschaftsjahres (Sessioninformations).</li>\r\n  <li>PostingAccountFunctionNotPermitted - Konto darf nicht gebucht werden, da die Kontenfunktion EroeffnungDebitor, EroeffnungKreditor, SammelDebitor, SammelKreditor, AlternativSammelDebitor oder AlternativSammelKreditor ist.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Konto und Gegenkonto dürfen im Einfachbeleg nicht identisch sein.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Auf Soll- und Habenseite werden verschiedene Steuerarten (Umsatz-, Vor-, Erwerb-) verwendet.</li>\r\n  <li>PostingHasInvalidCombinationOfAccounts - Auf Soll- und Habenseite befinden sich Personenkonten.</li>\r\n  <li>PostingServiceDateOutOfRange - Das Leistungsdatum (ServiceDate) ist nicht im Wirtschaftsjahr, Vorjahr oder Folgejahr.</li>\r\n  <li>PostingIsMissingPositions - Die Buchung enthält keine Positionen.</li>\r\n  <li>PostingPeriodOutOfRange - Die Periode (Period) liegt außerhalb des Wirtschaftsjahres.</li>\r\n  <li>PostingAmountExceedsDecimalPlaces - Einer der Beträge (Amount, Cashdiscount, TaxValue, DiscountableAmount, Commission, CommissionAssesmentBasis) hat zu viele Nachkommastellen.</li>\r\n  <li>PostingDebtorCreditorMissing - Die Kunden-/Lieferantennummer fehlt.</li>\r\n  <li>PostingDebtorCreditorAccountMismatch - Die Kunden-/Lieferantennummer passt nicht zum (Personen-)Konto der Position.</li>\r\n  <li>PostingAccountLocked - Konto (Account) oder Gegenkonto (OffsetAccount) sind gesperrt durch \"Buchsperre ab\".</li>\r\n  <li>PostingAccountIndirect - Konto (Account) oder Gegenkonto (OffsetAccount) können nur indirekt gebucht werden.</li>\r\n  <li>PostingCostTypeMissing - Kostenart (CostType) muss gefüllt sein.</li>\r\n  <li>PostingCostAmountMismatch - Die Summe der Kosten (Costs.amount) ergibt nicht den (Netto-) Wert der Positionen.</li>\r\n  <li>PostingCostMissing - Bei aktivierter Kostenstellen-/träger Pflicht und bei Verwendung eines Kontos mit Kostenerfassung ist die Hinterlegung einer Kostenstelle oder -träger erforderlich.</li>\r\n  <li>PostingCostCentreAndCostUnitSupplied - Nur bei aktivierter Option \"Kostenstellen und Kostenträger erlauben\" dürfen Kostenstellen und -träger angegeben werden.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung ist für den Mandanten deaktiviert.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung darf nur für Personenkonten erfolgen, wenn die Option \"Kostenrechnung für Personenkonten erlauben\" aktiviert ist.</li>\r\n  <li>PostingCostMappingInvalid - Die Kostenrechnung ist für das Konto deaktiviert.</li>\r\n  <li>PostingOffsetAccountNotAllowed - Das Gegenkonto (OffsetAccount) darf im Sammelbeleg nicht angegeben werden.</li>\r\n  <li>PostingIsMissingOpenItem - Bei Verwendung eines Personenkontos müssen Angaben zum Offenen Posten (openitem) erfolgen.</li>\r\n  <li>PostingOpenItemMustBeNull - Die Angabe eines Offenen Posten (openitem) ohne ein Personenkonto ist nicht möglich.</li>\r\n  <li>PostingIsMissingAmount - Der Betrag (amount) ist 0.</li>\r\n  <li>PostingIsMissingOffsetAccount - Eine Einfachbeleg ohne Gegenkonto (OffsetAccount) kann nicht erfasst werden.</li>\r\n  <li>PostingIsMissingCurrencyFactor - Eine Buchung mit Fremdwährung ohne Fremdwährungskurs (currencyFactor) ist nicht möglich.</li>\r\n  <li>PostingCashDiscountDateInvalid - Das SkontoAm (CashDiscountDate1/2) liegt vor dem Valutadatum (valuedate) bei Skontoprozent &gt; 0.</li>\r\n  <li>PostingDiscountableAmountInvalid - Das Vorzeichen von Skontofähig (DiscountableAmount) und Betrag (amount) weichen voneinander ab.</li>\r\n  <li>PostingDiscountableAmountInvalid - Skontofähig (DiscountableAmount) ist größer als der Betrag (amount).</li>\r\n  <li>PostingCashDiscountPercentInvalid - Die Skontoprozente (CashDiscount1/2Percent) sind kleiner 0 oder größer 100.</li>\r\n  <li>PostingCashDiscountInvalid - Der Skonto-Wert ist negativ oder für die Kontenkombination unzulässig.</li>\r\n  <li>PostingTaxMissing - Im Konto ist SteuerCodeFixieren aktiviert und der Steuercode (TaxCode) weicht von dem Steuercode des Kontos ab.</li>\r\n  <li>PostingTaxInvalid - Die Angabe eines Steuercodes ist für die Buchung nicht zulässig.</li>\r\n  <li>PostingTaxWithoutTaxCode - Die Steuerprozente (taxPercent) oder der Steuerwert (taxAmount) ist angegeben aber Steuercode (taxCode) fehlt.</li>\r\n  <li>PostingTaxPercentMismatch - Die Steuerprozente (taxPercent) weichen vom den Prozenten im Steuercode (taxCode) ab und der Steuercode erlaubt keinen variablen Steuerprozentsatz.</li>\r\n  <li>PostingTaxAmountMismatch - Der aus den Steuerprozenten (taxPercent) bzw. Steuercode (taxCode) errechnete Steuerwert passt nicht zu dem angegebenen Steuerwert (taxAmount).</li>\r\n  <li>PostingHasUnknownTaxCode - Der Steuercode (taxCode) ist nicht in den Stammdaten vorhanden bzw. die Gültigkeitsdaten für das angegebene Datum (postDate) fehlen.</li>\r\n  <li>PostingUnknownAccount - Das Konto (account, offsetAccount) oder das im Steuercode (taxCode) hinterlegte Skontokonto existieren nicht.</li>\r\n  <li>PostingVatidMissing - Das Konto (account, offsetAccount) erfordert durch die Einstellung zur zusammenfassenden Meldung die Angabe der UstId (vatID).</li>\r\n  <li>PostingCurrencyMismatch - Im Konto (account
[...]
